@import "tailwindcss";

:root {
  --background: #e2e2df;
  --foreground: #023047;
  --color-primary: #023047;
  --color-navbar-scrolled: #d6e2e9;  
  --color-about-bg: #d6e2e9;         
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e434e;
    --foreground: #bab5a9;
    --color-primary: #bab5a9;
    --color-navbar-scrolled: #023047;
    --color-about-bg: #2a2e35;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* Optional: Hide scrollbars for horizontal scroll sections */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}